PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/voting_db
EC_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nYOUR_EC_PUBLIC_KEY\n-----END PUBLIC KEY-----
VS_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nYOUR_PUBLIC_KEY\n-----END PUBLIC KEY-----
VS_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----
SERVER_ID=vs1